<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "store/main/includes/default-html-headers/index.html" %}
    <title>ES - Failed</title>
</head>

<body>
    {% include "store/main/includes/header/index.html" %}
    <div class="w-[90%] max-w-[1440px] mx-auto flex flex-col py-2 ">
        <h2 class="py-10 text-xl font-bold">Oops!  :-(</h2>
        <div class="flex justify-between w-full">
            <p>I'm sorry. Something went wrong with your order.</p>
        </div>
        <p class="mt-10">You can <a class="hover:underline text-gray-500" href="/">click here</a> and try again!</p>
    </div>
</body>

</html>