<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'public/css/app.css' %}?v={% now 'U' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Ambra - Cart</title>
</head>

<body>
    {% include "store/main/includes/header/index.html" %}
    <div class="w-[90%] max-w-[1440px] mx-auto flex flex-col py-2 ">
        <h2 class="py-10">My Cart</h2>
        <div class="flex flex-col gap-5">
            {% for product in products %}
            <div class="flex h-[200px] border border-[#ddd]">
                <div class="w-[250px] h-full">
                    <img class="w-full h-full bg-white object-cover" src={{product.image_url}} />
                </div>
                <div class="flex flex-col w-full p-6">
                    <div class="flex w-full">
                        <p>{{product.name}}</p>
                        <button class="ml-auto removeProductButton"><a href='/remove_product?id={{product.id}}'><i
                                    class="fas fa-trash"></i></a></button>
                    </div>
                    <div class="mt-auto">
                        <p class="font-bold">${{product.price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="flex border border-[#ddd]">
                <div class="flex w-full justify-between p-5">
                    <p>Total:</p>
                    <p class="font-bold text-sm">${{cart.total_price}}</p>
                </div>
            </div>
        </div>

        <form class="ml-auto" action="/create-checkout-session" method="POST">{% csrf_token %}
            <button class="mt-10 w-[200px] p-5 bg-[#5F4BB6] text-white font-bold border-2 border-transparent" type="submit">Checkout</button>
        </form>


    </div>

    <script src="{% static 'dist/cart.bundle.js' %}"></script>
</body>

</html>