<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <title>Antonio - Cart</title>
</head>

<body>
    {% include "store/main/includes/header/index.html" %}
    <div class="cart-container">
        <h2>My Cart</h2>

        <div class="cart-products">
            {% for product in products %}
            <div class="cart-product">
                <div class="image">
                    <img src={{product.image_url}} />
                </div>
                <div class="description">
                    <div class="row-1">
                        <p>{{product.name}}</p>
                        <button class="removeProductButton"><a href='/remove_product?id={{product.id}}'><i
                                    class="fas fa-trash"></i></a></button>
                    </div>
                    <div class="row-2">
                        <p>${{product.price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="cart-product-total">

                <div class="total">
                    <p>Total:</p>
                    <p class="total-label">${{cart.total_price}}</p>
                </div>
            </div>
        </div>

        <form class="left-submit" action="/create-checkout-session" method="POST">{% csrf_token %}
            <button class="submit" type="submit">Checkout</button>
        </form>


    </div>

    <script src="{% static 'dist/cart.bundle.js' %}"></script>
</body>

</html>