<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "store/main/includes/default-html-headers/index.html" %}
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'public/css/app.css' now 'U' %}">
</head>

<body>
    <form class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-100 flex flex-col gap-5" action="/authentication" method="post">{% csrf_token %}
        <a href="/" class="flex decoration-none text-[#5F4BB6] gap-2">
            <i class="fas fa-microchip text-5xl"></i>
            <div>
                <h1>Es imports</h1>
                <p>store</p>
            </div>
        </a>
        <div class="flex flex-col gap-2">
            <label>Username:</label>
            <input class="outline-none p-4 bg-[#f5f5f5] border border-[#f5f5f5]" name="username" placeholder="username">
        </div>
        <div class="flex flex-col gap-2">
            <label>Password:</label>
            <input class="outline-none p-4 bg-[#f5f5f5] border border-[#f5f5f5]" name="password" type="password" placeholder="password">
        </div>

        <div class="flex flex-col gap-2">
            <button class="p-[15px] bg-[#5F4BB6] text-white border border-[#5F4BB6]" type="submit">Login</button>
        </div>

        <p class="text-center">Do not have an account? <a href="/register_page">click here</a> to create one</p>
    </form>

</body>

</html>