<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "store/main/includes/default-html-headers/index.html" %}
    <title>Silicon - {{product}}</title>
    <meta name="description" content={{product.name}}>
</head>

<body>
    <div>
        {% include "store/main/includes/header/index.html" %}
        {% include "store/main/includes/bread-crumb/index.html" %}
    </div>
    <div class="flex flex-col sm:flex-row w-[90%] max-w-[1440px] mx-auto flex gap-[60px]">
        <div class="sm:w-[40%] sm:h-[500px] border border-[#ddd]">
            <img class="w-full h-full object-contain" alt={{product.name}} src={{product.image_url}} />
        </div>
        <div class="sm:mt-[80px] mb-[80px] text-[#202A25] sm:w-[60%] flex flex-col gap-[20px]">
            <h2 class="text-[32px]">{{product.name}}</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, porro. Quisquam iusto voluptas provident
                quia quibusdam dolore necessitatibus ducimus quo nisi. Explicabo deserunt corrupti veniam quis, iusto
                molestias quia inventore!</p>
            <div class="mt-auto">
                <h2 class="font-bold">${{product.price}}</h2>
                <button type="button"  class="flex justify-center w-60 h-15 hover:bg-white hover:text-gray-700 hover:border-2 hover:border-solid hover:border-gray-700 mt-10 bg-gray-700 text-white font-bold border-2 border-transparent" id="addProductButton" disabled>
                    <a class="w-full h-full text-center flex items-center justify-center gap-1" href='/add_product?id={{product.id}}'>
                        <i class="fas fa-shopping-cart"></i>
                        Buy
                    </a>
                </button>
            </div>
        </div>
    </div>
</body>

</html>