<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "store/main/includes/default-html-headers/index.html" %}
    <title>ES - Order</title>
</head>

<body>
    {% include "store/main/includes/header/index.html" %}
    <div class="flex w-[90%] max-w-[1440px] mx-auto mb-4">
        <div class="hidden sm:block w-[30%]">
            <p class="text-xl py-10">Menu</p>
            <ul class="flex flex-col gap-5">
                <a class="hover:underline {% if menu == 'profile' %}font-bold{% endif %}" href="/user?menu=profile">Profile</a>
                <a class="hover:underline {% if menu == 'orders' %}font-bold{% endif %}" href="/user?menu=orders">Orders</a>
                <a class="hover:underline" href="/logout">Log out</a>
            </ul>
        </div>
        <div class="w-full sm:w-[70%] flex flex-col">
            {% if menu == 'profile' %}
                <h2 class="py-10 font-bold text-xl">My Profile</h2>
                <div class="grid sm:grid-cols-2 gap-5">
                    <div class="flex flex-col gap-2">
                        <label>First Name:</label>
                        <input readonly value="{{user.first_name}}" class="cursor-not-allowed outline-none p-4 bg-[#f5f5f5] border border-[#f5f5f5]" name="username" placeholder="John">
                    </div>
                    <div class="flex flex-col gap-2">
                        <label>Last Name:</label>
                        <input readonly value="{{user.last_name}}" class="cursor-not-allowed outline-none p-4 bg-[#f5f5f5] border border-[#f5f5f5]" name="username" placeholder="Doe">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-5 mt-10">
                    <div class="flex flex-col gap-2 col-span-full">
                        <label>Email:</label>
                        <input readonly value="{{user.email}}" class="cursor-not-allowed outline-none p-4 bg-[#f5f5f5] border border-[#f5f5f5]" name="username" placeholder="john@doe.com">
                    </div>
                </div>
                <p class="mt-10">Contact our <a class="hover:underline text-gray-400" href="/user?menu=support">support</a> to update personal data information</p>
            {% endif %}
            
            {% if menu == 'orders' %}
                <h2 class="py-10 font-bold text-xl">My Orders</h2>
                <div class="flex flex-col gap-5">
                    {% if not orders %}
                        <p>No orders yet</p>
                    {% else %}
                        {% for order in orders %}
                        <div class="flex flex-col gap-5 border border-[#ddd] p-8">
                            <div class="flex justify-between">
                                <p>Order:</p>
                                <p class="font-bold">#{{ order.orderNumber|slice:":5" }}</p>
                            </div>
                            <div class="flex justify-between">
                                <p>Order Date:</p>
                                <p>{{ order.orderDate|date:"D d M Y" }}</p>
                            </div>
                            <div class="flex justify-between">
                                <p>Payment Status:</p>
                                <p class="font-bold">{{order.paymentStatus}}</p>
                            </div>
                            <div class="flex justify-between">
                                <p>Products:</p>
                                <ul>
                                    {% for product in order.products.all %}
                                        <li>{{ product.name }}</li> 
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="flex justify-between">
                                <p>Total price:</p>
                                <p class="font-bold">${{order.totalPrice}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <script src="{% static 'dist/cart.bundle.js' %}"></script>
</body>

</html>