// @import '_header.scss';
// @import '_product.scss';


/* keyframes */

@keyframes arrow_animation {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}


/* all fonts the same and some basic config*/
body{
  font-family: 'Open Sans', sans-serif;
}

.overlay {
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


.filters button i {
  z-index: -10;
  transform: rotateX(0deg);
  font-size: 10px;
  color: #202A25;
}

.filters .up i {
  transform: rotateX(180deg);
  font-size: 10px;
  color: #202A25;
}


/* login */

form.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group label {
  color: #202A25;
}

.group input {
  outline: none;
  padding: 15px;
  background-color: #f5f5f5;
  border: none;
  border: 1px solid #f5f5f5;

}

.group input:focus {
  background-color: white;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
}

.group button {
  padding: 15px;
  background-color: #5F4BB6;
  color: white;
  border: none;

  border: 1px solid #5F4BB6;
}

.group button:hover {
  background-color: white;
  color: #5F4BB6;
  border: 1px solid #5F4BB6;
  cursor: pointer;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo {
  display: flex;
  text-decoration: none;
  color: #5F4BB6;
  gap: 10px;

  i {
    font-size: 42px;
  }

}

.no-account {
  text-align: center;
}